#navigation {
    position: absolute;
    top: 0;
    background-color: var(--principal-color);
    width: 100%;
    padding: 1rem;
}

#navigation .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation .content .logo img {
    width: 10rem;
}

#navigation .content .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#navigation .content p {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text-white);
}

#navigation .content p ion-icon {
    font-weight: 700;
    font-size: 3rem;
}

@media (min-width: 1080px) {
    nav#navigation .content .contact {
        flex-direction: row;
        gap: 2rem;
    }
}